###############################################################################
# Build directory                                                     [ Bazel ]
bazel-*

###############################################################################
# Log directory                                                [ Pcomputation ]
/logging

###############################################################################
# Local files                                                  [ Pcomputation ]
style.sh

###############################################################################
# Local configuration                                          [ Pcomputation ]
# Vscode                                                             [ VSCode ]
.vscode